// Body
$body-bg: red;

// Typography
$font_family_roboto: 'Roboto';
$font_family_montserrat: 'Montserrat';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
