.app_primary_btn {
    background-color: #070510a3;
    color: #ffffff;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    transition: .3s;
   
}

.btn.app_primary_btn:hover {
    color: white;
    background-color: #10adb9fa;
}
