
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');
body{
background-color: #ebeaf1;
}

p {
    font-family: Montserrat;
    color: #212529;
    font-weight: 500;
font-size:14px;
}
h1,h2,h3,h4,h5,h6{
font-family: roboto;
text-transform: capitalize;
 color: #212529;

}
.app_primary_btn {
    background-color: #3e4840d9;
    color: #ffffff;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
}
